{
 "x-generator": "NSwag v13.1.2.0 (NJsonSchema v10.0.24.0 (Newtonsoft.Json v12.0.0.0))",
 "swagger": "2.0",
 "info": {
  "title": "LiveAM Web API",
  "description": "歡迎使用 LiveAM Web API",
  "contact": {
   "name": "WAFERLOCK®",
   "url": "http://www.waferlock.com",
   "email": "info@waferlock.com"
  },
  "version": "v1"
 },
 "host": "liveamcore1.waferlock.com:10001",
 "schemes": [
  "https"
 ],
 "produces": [
  "text/plain",
  "application/json",
  "text/json"
 ],
 "paths": {
  "/api/Agv2": {
   "get": {
    "tags": [
     "Agv2"
    ],
    "summary": "查詢",
    "operationId": "Agv2_GetAGV2s",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/Agv2Simplify"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "post": {
    "tags": [
     "Agv2"
    ],
    "summary": "新增",
    "operationId": "Agv2_PostAgvItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "item",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/Agv2Simplify"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "201": {
      "x-nullable": false,
      "description": "Created",
      "schema": {
       "$ref": "#/definitions/Agv2Simplify"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "409": {
      "x-nullable": false,
      "description": "Conflict",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2/{id}": {
   "get": {
    "tags": [
     "Agv2"
    ],
    "summary": "單一查詢，藉由編號",
    "operationId": "Agv2_GetAgvItem",
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/Agv2Simplify"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "put": {
    "tags": [
     "Agv2"
    ],
    "summary": "修改",
    "operationId": "Agv2_PutAgvItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "item",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/Agv2Simplify"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "delete": {
    "tags": [
     "Agv2"
    ],
    "summary": "刪除",
    "operationId": "Agv2_DeleteAgvItem",
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2/getIdByName/{name}": {
   "get": {
    "tags": [
     "Agv2"
    ],
    "summary": "藉由名稱，查編號",
    "operationId": "Agv2_GetIdByName",
    "parameters": [
     {
      "type": "string",
      "name": "name",
      "in": "path",
      "required": true,
      "description": "名稱",
      "x-nullable": true
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/MacInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2/getActionAuth": {
   "get": {
    "tags": [
     "Agv2"
    ],
    "summary": "取得功能權限",
    "operationId": "Agv2_GetActionAuth",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ActionAuthInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2/getMac": {
   "post": {
    "tags": [
     "Agv2"
    ],
    "summary": "搜尋所有裝置的MAC位址",
    "operationId": "Agv2_GetMac",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/MacList"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2/configure/{id}": {
   "post": {
    "tags": [
     "Agv2"
    ],
    "summary": "配置",
    "operationId": "Agv2_Configure",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2/getVersion/{id}": {
   "post": {
    "tags": [
     "Agv2"
    ],
    "summary": "讀取版本",
    "operationId": "Agv2_GetVersion",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/DeviceValue"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2/updateAllRobot": {
   "post": {
    "tags": [
     "Agv2"
    ],
    "summary": "更新全部機器人",
    "operationId": "Agv2_UpdateAllRobot",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2/updateRobot/{id}": {
   "post": {
    "tags": [
     "Agv2"
    ],
    "summary": "更新機器人",
    "operationId": "Agv2_UpdateRobot",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2/logExport/{id}": {
   "post": {
    "tags": [
     "Agv2"
    ],
    "summary": "Log匯出",
    "operationId": "Agv2_LogExport",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "para",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/DatePara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseValue"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Marker": {
   "get": {
    "tags": [
     "Agv2Marker"
    ],
    "summary": "查詢",
    "operationId": "Agv2Marker_GetAgvMarkers",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/Agv2Marker"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Marker/simplify": {
   "get": {
    "tags": [
     "Agv2Marker"
    ],
    "summary": "查詢簡要資訊",
    "operationId": "Agv2Marker_GetSimplifyInfo",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/Agv2MarkerSimplify"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Marker/mapScanAgv": {
   "get": {
    "tags": [
     "Agv2Marker"
    ],
    "summary": "取得設定地圖掃描的裝置",
    "operationId": "Agv2Marker_GetMapScanAgv",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseValue"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Marker/{id}": {
   "get": {
    "tags": [
     "Agv2Marker"
    ],
    "summary": "單一查詢，藉由點位編號",
    "operationId": "Agv2Marker_GetAgvMarkerItem",
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "點位編號",
      "format": "int32",
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/Agv2Marker"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "put": {
    "tags": [
     "Agv2Marker"
    ],
    "summary": "修改",
    "operationId": "Agv2Marker_PutAgvMarkerItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "點位編號",
      "format": "int32",
      "x-nullable": false
     },
     {
      "name": "item",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/Agv2Marker"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "delete": {
    "tags": [
     "Agv2Marker"
    ],
    "summary": "刪除",
    "operationId": "Agv2Marker_DeleteAgvMarkerItem",
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "點位編號",
      "format": "int32",
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Marker/getActionAuth": {
   "get": {
    "tags": [
     "Agv2Marker"
    ],
    "summary": "取得功能權限",
    "operationId": "Agv2Marker_GetActionAuth",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ActionAuthInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Marker/synchronizeMarker/{id}": {
   "post": {
    "tags": [
     "Agv2Marker"
    ],
    "summary": "取得點位",
    "operationId": "Agv2Marker_SynchronizeMarker",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "機器人編號",
      "x-nullable": true
     },
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Station": {
   "get": {
    "tags": [
     "Agv2Station"
    ],
    "summary": "查詢",
    "operationId": "Agv2Station_GetAgv2Stations",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/Agv2StationCombineInfo"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "post": {
    "tags": [
     "Agv2Station"
    ],
    "summary": "新增",
    "operationId": "Agv2Station_PostAgvStationItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "item",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/Agv2StationSetting"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "201": {
      "x-nullable": false,
      "description": "Created",
      "schema": {
       "$ref": "#/definitions/Agv2StationCombineInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "409": {
      "x-nullable": false,
      "description": "Conflict",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Station/{stationId}": {
   "get": {
    "tags": [
     "Agv2Station"
    ],
    "summary": "單一查詢，藉由關卡編號",
    "operationId": "Agv2Station_GetAgvStationItem",
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "query",
      "description": "關卡編號",
      "format": "int32",
      "x-nullable": false
     },
     {
      "type": "string",
      "name": "stationId",
      "in": "path",
      "required": true,
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/Agv2StationCombineInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Station/specificMarker": {
   "get": {
    "tags": [
     "Agv2Station"
    ],
    "summary": "取得特定點位",
    "operationId": "Agv2Station_GetSpecificMarker",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/IntIdName"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Station/specificMarkerMapFloor": {
   "get": {
    "tags": [
     "Agv2Station"
    ],
    "summary": "取得特定點位的地圖樓層",
    "operationId": "Agv2Station_GetSpecificMarkerMapFloor",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "format": "int32"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Station/getActionAuth": {
   "get": {
    "tags": [
     "Agv2Station"
    ],
    "summary": "取得功能權限",
    "operationId": "Agv2Station_GetActionAuth",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ActionAuthInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Station/permissionCheck": {
   "get": {
    "tags": [
     "Agv2Station"
    ],
    "summary": "確認編輯權限",
    "operationId": "Agv2Station_PermissionCheck",
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Station/importData": {
   "post": {
    "tags": [
     "Agv2Station"
    ],
    "summary": "匯入資料",
    "operationId": "Agv2Station_ImportData",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "importDataPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/ImportDataPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/ResponseInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Station/autoGenerate": {
   "post": {
    "tags": [
     "Agv2Station"
    ],
    "summary": "自動產生",
    "operationId": "Agv2Station_AutoGenerateItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "intValueListPara",
      "in": "body",
      "required": true,
      "description": "地圖樓層參數",
      "schema": {
       "$ref": "#/definitions/IntValueListPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Station/{id}": {
   "put": {
    "tags": [
     "Agv2Station"
    ],
    "summary": "修改",
    "operationId": "Agv2Station_PutAgvStationItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "關卡編號",
      "format": "int32",
      "x-nullable": false
     },
     {
      "name": "item",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/Agv2StationSetting"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "delete": {
    "tags": [
     "Agv2Station"
    ],
    "summary": "刪除",
    "operationId": "Agv2Station_DeleteAgvStationItem",
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "關卡編號",
      "format": "int32",
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2StationGroup": {
   "get": {
    "tags": [
     "Agv2StationGroup"
    ],
    "summary": "查詢",
    "operationId": "Agv2StationGroup_GetStationGroups",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/Agv2StationGroup"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "post": {
    "tags": [
     "Agv2StationGroup"
    ],
    "summary": "新增",
    "operationId": "Agv2StationGroup_PostStationGroupItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "item",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/Agv2StationGroup"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "201": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/Agv2StationGroup"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "409": {
      "x-nullable": false,
      "description": "Conflict",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2StationGroup/{id}": {
   "get": {
    "tags": [
     "Agv2StationGroup"
    ],
    "summary": "單一查詢，藉由關卡群組編號",
    "operationId": "Agv2StationGroup_GetStationGroupItem",
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "關卡群組編號",
      "format": "int64",
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/Agv2StationGroup"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "put": {
    "tags": [
     "Agv2StationGroup"
    ],
    "summary": "修改",
    "operationId": "Agv2StationGroup_PutStationGroupItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "關卡群組編號",
      "format": "int64",
      "x-nullable": false
     },
     {
      "name": "item",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/Agv2StationGroup"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "delete": {
    "tags": [
     "Agv2StationGroup"
    ],
    "summary": "刪除",
    "operationId": "Agv2StationGroup_DeleteStationGroupItem",
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "關卡群組編號",
      "format": "int64",
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2StationGroup/getIdByName/{name}": {
   "get": {
    "tags": [
     "Agv2StationGroup"
    ],
    "summary": "藉由關卡群組名稱，查關卡群組編號",
    "operationId": "Agv2StationGroup_GetIdByName",
    "parameters": [
     {
      "type": "string",
      "name": "name",
      "in": "path",
      "required": true,
      "description": "關卡群組名稱",
      "x-nullable": true
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/IdInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2StationGroup/getActionAuth": {
   "get": {
    "tags": [
     "Agv2StationGroup"
    ],
    "summary": "取得功能權限",
    "operationId": "Agv2StationGroup_GetActionAuth",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ActionAuthInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2StationGroup/setting/{groupId}": {
   "get": {
    "tags": [
     "Agv2StationGroup"
    ],
    "summary": "查詢關卡群組關卡設定",
    "operationId": "Agv2StationGroup_GetSetting",
    "parameters": [
     {
      "type": "integer",
      "name": "groupId",
      "in": "path",
      "required": true,
      "description": "關卡群組編號",
      "format": "int64",
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/StationGroupStationInfo"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "put": {
    "tags": [
     "Agv2StationGroup"
    ],
    "summary": "修改關卡群組關卡設定",
    "operationId": "Agv2StationGroup_PutUserSetting",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "integer",
      "name": "groupId",
      "in": "path",
      "required": true,
      "description": "關卡群組編號",
      "format": "int64",
      "x-nullable": false
     },
     {
      "name": "intValueListPara",
      "in": "body",
      "required": true,
      "description": "關卡編號參數",
      "schema": {
       "$ref": "#/definitions/IntValueListPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "delete": {
    "tags": [
     "Agv2StationGroup"
    ],
    "summary": "刪除關卡群組關卡設定",
    "operationId": "Agv2StationGroup_DeleteUserSetting",
    "parameters": [
     {
      "type": "integer",
      "name": "groupId",
      "in": "path",
      "required": true,
      "description": "關卡群組編號",
      "format": "int64",
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Status": {
   "get": {
    "tags": [
     "Agv2Status"
    ],
    "summary": "查詢",
    "operationId": "Agv2Status_GetItems",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/Agv2StatusInfo"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Status/getActionAuth": {
   "get": {
    "tags": [
     "Agv2Status"
    ],
    "summary": "取得功能權限",
    "operationId": "Agv2Status_GetActionAuth",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ActionAuthInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Status/getStatus/{id}": {
   "post": {
    "tags": [
     "Agv2Status"
    ],
    "summary": "取得狀態",
    "operationId": "Agv2Status_GetStatus",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "valuePara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/ValuePara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseAgv2Status"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Status/recall/{id}": {
   "post": {
    "tags": [
     "Agv2Status"
    ],
    "summary": "召回",
    "operationId": "Agv2Status_Recall",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2TaskRecord": {
   "get": {
    "tags": [
     "Agv2TaskRecord"
    ],
    "summary": "查詢",
    "operationId": "Agv2TaskRecord_GetItems",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/TaskRecordCombineInfo"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2TaskRecord/range": {
   "post": {
    "tags": [
     "Agv2TaskRecord"
    ],
    "summary": "查詢區間資料",
    "operationId": "Agv2TaskRecord_GetRangeData",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "para",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/DateRangeDataPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/TaskRecordCombineInfo"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2TaskRecord/getActionAuth": {
   "get": {
    "tags": [
     "Agv2TaskRecord"
    ],
    "summary": "取得功能權限",
    "operationId": "Agv2TaskRecord_GetActionAuth",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ActionAuthInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2TaskRecord/permissionCheck": {
   "get": {
    "tags": [
     "Agv2TaskRecord"
    ],
    "summary": "確認編輯權限",
    "operationId": "Agv2TaskRecord_PermissionCheck",
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2TaskRecord/redo/{id}": {
   "post": {
    "tags": [
     "Agv2TaskRecord"
    ],
    "summary": "重送",
    "operationId": "Agv2TaskRecord_Recall",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "任務編號",
      "x-nullable": true
     },
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2TaskRecord/interrupt": {
   "post": {
    "tags": [
     "Agv2TaskRecord"
    ],
    "summary": "強制結案",
    "operationId": "Agv2TaskRecord_Interrupt",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "onlyValue",
      "in": "body",
      "required": true,
      "description": "任務編號",
      "schema": {
       "$ref": "#/definitions/OnlyStringValue"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Timezone": {
   "get": {
    "tags": [
     "Agv2Timezone"
    ],
    "summary": "查詢",
    "operationId": "Agv2Timezone_GetAgv2Timezones",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/Agv2Timezone"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Timezone/{id}": {
   "get": {
    "tags": [
     "Agv2Timezone"
    ],
    "summary": "單一查詢，藉由區間編號",
    "operationId": "Agv2Timezone_GetAgv2TimezoneItem",
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "區間編號",
      "format": "int32",
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/Agv2Timezone"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "put": {
    "tags": [
     "Agv2Timezone"
    ],
    "summary": "修改",
    "operationId": "Agv2Timezone_PutAgv2TimezoneItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "區間編號",
      "format": "int32",
      "x-nullable": false
     },
     {
      "name": "item",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/Agv2Timezone"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "delete": {
    "tags": [
     "Agv2Timezone"
    ],
    "summary": "刪除",
    "operationId": "Agv2Timezone_DeleteAgv2TimezoneItem",
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "區間編號",
      "format": "int32",
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv2Timezone/getActionAuth": {
   "get": {
    "tags": [
     "Agv2Timezone"
    ],
    "summary": "取得功能權限",
    "operationId": "Agv2Timezone_GetActionAuth",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ActionAuthInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv": {
   "get": {
    "tags": [
     "Agv"
    ],
    "summary": "查詢",
    "operationId": "Agv_GetAgvs",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/AgvSimplify"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "post": {
    "tags": [
     "Agv"
    ],
    "summary": "新增",
    "operationId": "Agv_PostAgvItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "item",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/AgvSimplify"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "201": {
      "x-nullable": false,
      "description": "Created",
      "schema": {
       "$ref": "#/definitions/AgvSimplify"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "409": {
      "x-nullable": false,
      "description": "Conflict",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv/{id}": {
   "get": {
    "tags": [
     "Agv"
    ],
    "summary": "單一查詢，藉由編號",
    "operationId": "Agv_GetAgvItem",
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/AgvSimplify"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "put": {
    "tags": [
     "Agv"
    ],
    "summary": "修改",
    "operationId": "Agv_PutAgvItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "item",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/AgvSimplify"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "delete": {
    "tags": [
     "Agv"
    ],
    "summary": "刪除",
    "operationId": "Agv_DeleteAgvItem",
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv/getIdByName/{name}": {
   "get": {
    "tags": [
     "Agv"
    ],
    "summary": "藉由名稱，查編號",
    "operationId": "Agv_GetIdByName",
    "parameters": [
     {
      "type": "string",
      "name": "name",
      "in": "path",
      "required": true,
      "description": "名稱",
      "x-nullable": true
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/MacInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv/getActionAuth": {
   "get": {
    "tags": [
     "Agv"
    ],
    "summary": "取得功能權限",
    "operationId": "Agv_GetActionAuth",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ActionAuthInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv/getMac": {
   "post": {
    "tags": [
     "Agv"
    ],
    "summary": "搜尋所有裝置的MAC位址",
    "operationId": "Agv_GetMac",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/MacList"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/Agv/configure/{id}": {
   "post": {
    "tags": [
     "Agv"
    ],
    "summary": "配置",
    "operationId": "Agv_Configure",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvElevator": {
   "get": {
    "tags": [
     "AgvElevator"
    ],
    "summary": "查詢",
    "operationId": "AgvElevator_GetAgvElevators",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/AgvElevator"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvElevator/{id}/{floorIndex}": {
   "get": {
    "tags": [
     "AgvElevator"
    ],
    "summary": "單一查詢，藉由電梯主控器編號, 樓層索引",
    "operationId": "AgvElevator_GetAgvElevatorItem",
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "電梯主控器編號",
      "x-nullable": true
     },
     {
      "type": "integer",
      "name": "floorIndex",
      "in": "path",
      "required": true,
      "description": "樓層索引",
      "format": "int32",
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/AgvElevator"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvElevator/elevMarker/{id}": {
   "get": {
    "tags": [
     "AgvElevator"
    ],
    "summary": "查詢電梯點位，藉由電梯主控器編號",
    "operationId": "AgvElevator_GetAgvElevMarkerItem",
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "電梯主控器編號",
      "x-nullable": true
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/AgvElevMarker"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvElevator/getActionAuth": {
   "get": {
    "tags": [
     "AgvElevator"
    ],
    "summary": "取得功能權限",
    "operationId": "AgvElevator_GetActionAuth",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ActionAuthInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvElevator/{id}": {
   "put": {
    "tags": [
     "AgvElevator"
    ],
    "summary": "修改",
    "operationId": "AgvElevator_PutAgvElevatorItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "電梯主控器編號",
      "x-nullable": true
     },
     {
      "name": "agvElevatorSetPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/AgvElevatorSetPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvElevator/setAgvElevMarker/{id}": {
   "post": {
    "tags": [
     "AgvElevator"
    ],
    "summary": "設定點位，藉由電梯主控器編號",
    "operationId": "AgvElevator_SetAgvElevMarker",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "電梯主控器編號",
      "x-nullable": true
     },
     {
      "name": "agvElevMarkerSetPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/AgvElevMarkerSetPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200": {
   "get": {
    "tags": [
     "AgvG200"
    ],
    "summary": "查詢",
    "operationId": "AgvG200_GetAgvG200s",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/AgvG200Simplify"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "post": {
    "tags": [
     "AgvG200"
    ],
    "summary": "新增",
    "operationId": "AgvG200_PostAgvItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "item",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/AgvG200Simplify"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "201": {
      "x-nullable": false,
      "description": "Created",
      "schema": {
       "$ref": "#/definitions/AgvG200Simplify"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "409": {
      "x-nullable": false,
      "description": "Conflict",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200/{id}": {
   "get": {
    "tags": [
     "AgvG200"
    ],
    "summary": "單一查詢，藉由編號",
    "operationId": "AgvG200_GetAgvItem",
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/AgvG200Simplify"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "put": {
    "tags": [
     "AgvG200"
    ],
    "summary": "修改",
    "operationId": "AgvG200_PutAgvItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "item",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/AgvG200Simplify"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "delete": {
    "tags": [
     "AgvG200"
    ],
    "summary": "刪除",
    "operationId": "AgvG200_DeleteAgvItem",
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200/getIdByName/{name}": {
   "get": {
    "tags": [
     "AgvG200"
    ],
    "summary": "藉由名稱，查編號",
    "operationId": "AgvG200_GetIdByName",
    "parameters": [
     {
      "type": "string",
      "name": "name",
      "in": "path",
      "required": true,
      "description": "名稱",
      "x-nullable": true
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/MacInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200/getActionAuth": {
   "get": {
    "tags": [
     "AgvG200"
    ],
    "summary": "取得功能權限",
    "operationId": "AgvG200_GetActionAuth",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ActionAuthInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200/getMac": {
   "post": {
    "tags": [
     "AgvG200"
    ],
    "summary": "搜尋所有裝置的MAC位址",
    "operationId": "AgvG200_GetMac",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/MacList"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200/configure/{id}": {
   "post": {
    "tags": [
     "AgvG200"
    ],
    "summary": "配置",
    "operationId": "AgvG200_Configure",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200/getVersion/{id}": {
   "post": {
    "tags": [
     "AgvG200"
    ],
    "summary": "讀取版本",
    "operationId": "AgvG200_GetVersion",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/DeviceValue"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200/updateAllRobot": {
   "post": {
    "tags": [
     "AgvG200"
    ],
    "summary": "更新全部機器人",
    "operationId": "AgvG200_UpdateAllRobot",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200/updateRobot/{id}": {
   "post": {
    "tags": [
     "AgvG200"
    ],
    "summary": "更新機器人",
    "operationId": "AgvG200_UpdateRobot",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "timeoutPara",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/TimeoutPara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseInfo"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200/logExport/{id}": {
   "post": {
    "tags": [
     "AgvG200"
    ],
    "summary": "Log匯出",
    "operationId": "AgvG200_LogExport",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "string",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "編號",
      "x-nullable": true
     },
     {
      "name": "para",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/DatePara"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseValue"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200Marker": {
   "get": {
    "tags": [
     "AgvG200Marker"
    ],
    "summary": "查詢",
    "operationId": "AgvG200Marker_GetAgvMarkers",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/AgvG200Marker"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200Marker/simplify": {
   "get": {
    "tags": [
     "AgvG200Marker"
    ],
    "summary": "查詢簡要資訊",
    "operationId": "AgvG200Marker_GetSimplifyInfo",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "type": "array",
       "items": {
        "$ref": "#/definitions/AgvG200MarkerSimplify"
       }
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200Marker/mapScanAgv": {
   "get": {
    "tags": [
     "AgvG200Marker"
    ],
    "summary": "取得設定地圖掃描的裝置",
    "operationId": "AgvG200Marker_GetMapScanAgv",
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/ResponseValue"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   }
  },
  "/api/AgvG200Marker/{id}": {
   "get": {
    "tags": [
     "AgvG200Marker"
    ],
    "summary": "單一查詢，藉由點位編號",
    "operationId": "AgvG200Marker_GetAgvMarkerItem",
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "點位編號",
      "format": "int32",
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "x-nullable": false,
      "description": "",
      "schema": {
       "$ref": "#/definitions/AgvG200Marker"
      }
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "put": {
    "tags": [
     "AgvG200Marker"
    ],
    "summary": "修改",
    "operationId": "AgvG200Marker_PutAgvMarkerItem",
    "consumes": [
     "application/json-patch+json",
     "application/json",
     "text/json",
     "application/*+json"
    ],
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "點位編號",
      "format": "int32",
      "x-nullable": false
     },
     {
      "name": "item",
      "in": "body",
      "required": true,
      "schema": {
       "$ref": "#/definitions/AgvG200Marker"
      },
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "500": {
      "x-nullable": false,
      "description": "Internal Server Error",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     }
    },
    "security": [
     {
      "JWT": []
     }
    ]
   },
   "delete": {
    "tags": [
     "AgvG200Marker"
    ],
    "summary": "刪除",
    "operationId": "AgvG200Marker_DeleteAgvMarkerItem",
    "parameters": [
     {
      "type": "integer",
      "name": "id",
      "in": "path",
      "required": true,
      "description": "點位編號",
      "format": "int32",
      "x-nullable": false
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     },
     "400": {
      "x-nullable": false,
      "description": "Bad Request",
      "schema": {
       "$ref": "#/definitions/ResponseData"
      }
     },
     "401": {
      "x-nullable": false,
      "description": "Unauthorized",
      "schema": {
       "$ref": "#/definitions/UnauthorizedInfo"
      }
     },
     "404": {
      "x-nullable": false,
      "description": "Not Found",
      "schema": {
[...]
