{
 "openapi": "3.0.1",
 "info": {
  "title": "PMS",
  "description": "飯店前檯系統",
  "version": "7.7.119"
 },
 "servers": [
  {
   "url": "https://sit.athena.com.tw/pms/api/v3.0/pms",
   "description": "Generated server url"
  }
 ],
 "tags": [
  {
   "name": "PMS操作後，新增要同步到廠商的資料",
   "description": "PmsToVendorSyncDataController"
  },
  {
   "name": "失物管理",
   "description": "PMS0210180"
  },
  {
   "name": "假日類別(PMS0810170)",
   "description": "SeasonTypesController"
  },
  {
   "name": "FrontDesk",
   "description": "接待"
  },
  {
   "name": "小程式串接",
   "description": "ThirdPartyController"
  },
  {
   "name": "output-gui-management",
   "description": "銷項發票管理"
  },
  {
   "name": "DownTimeReport設定",
   "description": "IT/設定/報表/Downtime(IT00130160)，使用者可以透過此功能指定報表並透過排程自動寄送給指定的人"
  },
  {
   "name": "房價異動查詢",
   "description": "查詢訂房卡中房租異動紀錄"
  },
  {
   "name": "房務備品項目",
   "description": "RoomAmenitiesItemController"
  },
  {
   "name": "出納員設定",
   "description": "CashierController"
  },
  {
   "name": "網訂串接 - 接送服務",
   "description": "Wrs Limousine Service"
  },
  {
   "name": "綜合櫃檯",
   "description": "PMS0210020"
  },
  {
   "name": "合約狀態(PMS0860070)",
   "description": "ContractStatusController"
  },
  {
   "name": "VIP等級管理",
   "description": "VIP等級設定相關API"
  },
  {
   "name": "實收房價間數表",
   "description": "ActualRoomPriceReportController"
  },
  {
   "name": "GuestProfile",
   "description": "住客歷史"
  },
  {
   "name": "房間預冷作業(PMS0220050)",
   "description": "RoomPreCoolingOperationController"
  },
  {
   "name": "Rooms Setting",
   "description": "房間設定"
  },
  {
   "name": "房型(PMS0810020)",
   "description": "RoomTypeController"
  },
  {
   "name": "PMS夜核打V3程式",
   "description": "PMS0510010"
  },
  {
   "name": "Lock",
   "description": "Lock Data"
  },
  {
   "name": "WRS Booking",
   "description": "網訂訂房卡"
  },
  {
   "name": "交辦事項(PMS0210070)",
   "description": "TraceController"
  },
  {
   "name": "Booking",
   "description": "訂房卡"
  },
  {
   "name": "OAS01R0160_自訂用房預估差異表",
   "description": "CustomRoomEstimatedVarianceSheetController"
  },
  {
   "name": "團體管理",
   "description": "PMS0310040"
  },
  {
   "name": "假日日期設定",
   "description": "PMS0810070"
  },
  {
   "name": "處理廠商主動發起的的請求",
   "description": "VendorToPmsSyncDataController"
  },
  {
   "name": "Settlement",
   "description": "PMS0310030 退房帳務查詢"
  },
  {
   "name": "櫃台備品設定",
   "description": "PMS0820050"
  },
  {
   "name": "RateCode",
   "description": "房價"
  },
  {
   "name": "OAS01R0200_雲端會員優惠券及點數核銷報表",
   "description": "MemberRedemptionReportController"
  },
  {
   "name": "排房(PMS0210030)",
   "description": "RoomAssignmentController"
  },
  {
   "name": "teams-notify",
   "description": "Teams 通知 API (供 v2/task 跨服務呼叫)"
  },
  {
   "name": "Sales",
   "description": "業務員"
  },
  {
   "name": "OnlinePayment",
   "description": "線上繳款單(PMS0120070)"
  },
  {
   "name": "Guest-Registration-Card",
   "description": "旅客住宿登記卡"
  },
  {
   "name": "billing",
   "description": "住客帳維護"
  },
  {
   "name": "jobs",
   "description": "排程任務 API (供 PowerJob 呼叫)"
  },
  {
   "name": "開關班作業",
   "description": "ShiftOperationsController"
  },
  {
   "name": "Amenity",
   "description": "商務公司"
  },
  {
   "name": "拜訪方式(PMS0860050)",
   "description": "VisitTypesController"
  },
  {
   "name": "房號對應設定檔",
   "description": "RoomNosMappingConfigController"
  },
  {
   "name": "製卡管理(PMS0210200)",
   "description": "KeyCardManagementController"
  },
  {
   "name": "euis",
   "description": "發票模組相關api"
  },
  {
   "name": "交通接駁車種(PMS0810250)",
   "description": "LimousineModelsController"
  },
  {
   "name": "接送服務",
   "description": "PMS0210080"
  },
  {
   "name": "身分識別管理",
   "description": "身分識別設定相關API"
  },
  {
   "name": "訂金大類設定",
   "description": "訂金大類(PMS0830130)"
  },
  {
   "name": "OAS01R0140_付款方式月報表",
   "description": "PaymentMethodsMonthlyReportController"
  },
  {
   "name": "AuditLogs",
   "description": "異動記錄查詢"
  },
  {
   "name": "Parameter",
   "description": "參數"
  },
  {
   "name": "OAS01R0150_自訂用房資料明細表",
   "description": "CustomRoomDataDetailSheetController"
  },
  {
   "name": "會員積點查詢",
   "description": "MemberPointsQueryController"
  }
 ],
 "paths": {
  "/visit-types/{visitType}/lock/{lockToken}": {
   "put": {
    "tags": [
     "拜訪方式(PMS0860050)"
    ],
    "summary": "修改拜訪方式",
    "operationId": "updateVisitType",
    "parameters": [
     {
      "name": "visitType",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PsVisitRfRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/PsVisitRfResponse"
        }
       }
      }
     }
    }
   }
  },
  "/vip-level": {
   "get": {
    "tags": [
     "VIP等級管理"
    ],
    "summary": "查詢全部VIP等級",
    "description": "取得該集團所有VIP等級資料，依顯示順序及VIP代碼排序",
    "operationId": "getAllVip",
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/VipQueryResponse"
         }
        }
       }
      }
     }
    }
   },
   "put": {
    "tags": [
     "VIP等級管理"
    ],
    "summary": "修改單筆VIP等級",
    "description": "更新既有VIP等級的資料",
    "operationId": "updateSingleVip",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/VipUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/VipQueryResponse"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "VIP等級管理"
    ],
    "summary": "新增單筆VIP等級",
    "description": "建立新的VIP等級設定",
    "operationId": "insertSingleVip",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/VipInsertRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/VipQueryResponse"
        }
       }
      }
     }
    }
   }
  },
  "/settlement/reset-pay-type": {
   "put": {
    "tags": [
     "Settlement"
    ],
    "summary": "已結帳 > 更改付款方式",
    "operationId": "resetPayType",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ResetPayTypeRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/service-items/{lockToken}/{itemNos}": {
   "put": {
    "tags": [
     "服務項目(PMS0830030)"
    ],
    "summary": "編輯服務項目",
    "operationId": "updateServiceItem",
    "parameters": [
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "itemNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ServiceItemSaveRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ServiceItemDetailResponse"
        }
       }
      }
     }
    }
   }
  },
  "/service-items/{itemNos}/deactivate": {
   "put": {
    "tags": [
     "服務項目(PMS0830030)"
    ],
    "summary": "停用服務項目",
    "operationId": "deactivateServiceItem",
    "parameters": [
     {
      "name": "itemNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/service-items/{itemNos}/activate": {
   "put": {
    "tags": [
     "服務項目(PMS0830030)"
    ],
    "summary": "啟用服務項目",
    "operationId": "activateServiceItem",
    "parameters": [
     {
      "name": "itemNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/season-types/{dayStatus}/lock/{lockToken}": {
   "put": {
    "tags": [
     "假日類別(PMS0810170)"
    ],
    "summary": "修改假日類別",
    "operationId": "updateHolidayKind",
    "parameters": [
     {
      "name": "dayStatus",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/HolidayKindRfRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/HolidayKindRfResponse"
        }
       }
      }
     }
    }
   }
  },
  "/sales": {
   "get": {
    "tags": [
     "Sales"
    ],
    "operationId": "getSales",
    "parameters": [
     {
      "name": "salesCode",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "salesName",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "salesStatuses",
      "in": "query",
      "required": true,
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "enum": [
         "N",
         "Q"
        ]
       }
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/SalesResponseDto"
         }
        }
       }
      }
     }
    }
   },
   "put": {
    "tags": [
     "Sales"
    ],
    "operationId": "updateSales",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SaveSalesRequestDto"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   },
   "post": {
    "tags": [
     "Sales"
    ],
    "operationId": "saveSales",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/SaveSalesRequestDto"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/rooms/{roomNos}/lock/{lockToken}": {
   "put": {
    "tags": [
     "Rooms Setting"
    ],
    "summary": "修改單筆",
    "operationId": "updateRoom",
    "parameters": [
     {
      "name": "roomNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/RoomMnRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   },
   "delete": {
    "tags": [
     "Rooms Setting"
    ],
    "summary": "刪除單筆",
    "operationId": "deleteRoom",
    "parameters": [
     {
      "name": "roomNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/rooms/sequence": {
   "get": {
    "tags": [
     "Rooms Setting"
    ],
    "summary": "查詢房間排序",
    "operationId": "getRoomSort",
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/RoomMnSortResponse"
         }
        }
       }
      }
     }
    }
   },
   "put": {
    "tags": [
     "Rooms Setting"
    ],
    "summary": "儲存房間排序",
    "operationId": "updateRoomSort",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/RoomMnSortRequest"
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/rooms/generate-inventory": {
   "put": {
    "tags": [
     "Rooms Setting"
    ],
    "summary": "產生庫存",
    "operationId": "generateInventory",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/InventoryRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/room-type/generate-inventory": {
   "put": {
    "tags": [
     "房型(PMS0810020)"
    ],
    "summary": "產生庫存",
    "operationId": "generateInventory_1",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/InventoryRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/room-amenities-unit/{unitType}/lock/{lockToken}": {
   "put": {
    "tags": [
     "房務備品單位設定"
    ],
    "summary": "修改房務備品單位",
    "operationId": "update",
    "parameters": [
     {
      "name": "unitType",
      "in": "path",
      "required": true,
      "schema": {
       "maxLength": 4,
       "minLength": 0,
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/HfdSpunitRfRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/HfdSpunitRfResponse"
        }
       }
      }
     }
    }
   }
  },
  "/room-amenities-items/{spareCode}/lock/{lockToken}": {
   "put": {
    "tags": [
     "房務備品項目"
    ],
    "summary": "修改房務備品項目",
    "operationId": "updateHfdSpareRf",
    "parameters": [
     {
      "name": "spareCode",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/HfdSpareRfRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/HfdSpareRfResponse"
        }
       }
      }
     }
    }
   }
  },
  "/output-gui-management/invoices/{sessionId}/void": {
   "put": {
    "tags": [
     "output-gui-management"
    ],
    "summary": "作廢發票",
    "description": "清除作廢發票日期並將發票狀態改為手工作廢",
    "operationId": "voidInvoice",
    "parameters": [
     {
      "name": "sessionId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/VoidInvoiceRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/oas/manager-report-occupied-room-statistics/{analCode}/lock/{lockToken}": {
   "put": {
    "tags": [
     "OAS0310050 Manager Report Occupied Room Statistics API"
    ],
    "summary": "修改分析統計",
    "operationId": "update_1",
    "parameters": [
     {
      "name": "analCode",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ManagerReportOccupiedRoomStatisticsRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ManagerReportOccupiedRoomStatisticsResponse"
        }
       }
      }
     }
    }
   }
  },
  "/oas/manager-report-occupied-room-statistics/sort": {
   "put": {
    "tags": [
     "OAS0310050 Manager Report Occupied Room Statistics API"
    ],
    "summary": "修改顯示排序",
    "operationId": "updateSort",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/ManagerReportOccupiedRoomStatisticsSortRequest"
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/oas/manager-report-analysis-code/{analysis2Code}/lock/{lockToken}": {
   "put": {
    "tags": [
     "OAS0310010 Manager Report Analysis Code API"
    ],
    "summary": "修改分析代號",
    "operationId": "update_2",
    "parameters": [
     {
      "name": "analysis2Code",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ManagerReportAnalysisCodeRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ManagerReportAnalysisCodeResponse"
        }
       }
      }
     }
    }
   }
  },
  "/oas/manager-report-analysis-code/sort": {
   "put": {
    "tags": [
     "OAS0310010 Manager Report Analysis Code API"
    ],
    "summary": "修改顯示排序",
    "operationId": "updateSort_1",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/ManagerReportAnalysisCodeSortRequest"
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/oas/manager-report-analysis-code-excluded-room/{analCode}/lock/{lockToken}": {
   "put": {
    "tags": [
     "OAS0310020 Manager Report Analysis Code (Excluded Room) API"
    ],
    "summary": "修改分析代號（排除廳別）",
    "operationId": "update_3",
    "parameters": [
     {
      "name": "analCode",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ManagerReportAnalysisCodeExcludedRoomRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ManagerReportAnalysisCodeExcludedRoomResponse"
        }
       }
      }
     }
    }
   }
  },
  "/oas/manager-report-analysis-code-excluded-room/typ1-sort": {
   "put": {
    "tags": [
     "OAS0310020 Manager Report Analysis Code (Excluded Room) API"
    ],
    "summary": "修改分類顯示排序",
    "operationId": "updateTyp1Sort",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/ManagerReportAnalysisCodeExcludedRoomTyp1SortRequest"
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/oas/manager-report-analysis-code-excluded-room/sort": {
   "put": {
    "tags": [
     "OAS0310020 Manager Report Analysis Code (Excluded Room) API"
    ],
    "summary": "修改分析代號顯示排序",
    "operationId": "updateSort_2",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/ManagerReportAnalysisCodeExcludedRoomSortRequest"
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/mohist/ticket/undo": {
   "put": {
    "tags": [
     "mo-hist-controller"
    ],
    "summary": "更新核銷票券狀態為刪除",
    "description": "將已核銷的票券把狀態更新為刪除(D)",
    "operationId": "undoTicket",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/MoHistUndoTicketRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/MoHistDeleteTicketResponse"
        }
       }
      }
     }
    }
   }
  },
  "/member": {
   "get": {
    "tags": [
     "身分識別管理"
    ],
    "summary": "查詢全部身分識別",
    "description": "取得該集團所有身分識別資料，依顯示順序及代碼排序",
    "operationId": "getAllIdentify",
    "parameters": [
     {
      "name": "identifyCode",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "identifyName",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "useStatus",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/IdentifyQueryResponse"
         }
        }
       }
      }
     }
    }
   },
   "put": {
    "tags": [
     "身分識別管理"
    ],
    "summary": "修改單筆身分識別",
    "description": "更新既有身分識別的資料",
    "operationId": "updateSingleIdentify",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/IdentifyUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/IdentifyQueryResponse"
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "身分識別管理"
    ],
    "summary": "新增單筆身分識別",
    "description": "建立新的身分識別設定",
    "operationId": "insertSingleIdentify",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/IdentifyInsertRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/IdentifyQueryResponse"
        }
       }
      }
     }
    }
   }
  },
  "/main-desk/limousine-service/{keyNos}": {
   "put": {
    "tags": [
     "綜合櫃檯"
    ],
    "summary": "接送：單筆修改",
    "operationId": "updateLimousineService",
    "parameters": [
     {
      "name": "keyNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateLimousineServiceFromMainDeskRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   },
   "delete": {
    "tags": [
     "綜合櫃檯"
    ],
    "summary": "接送：單筆刪除",
    "operationId": "deleteLimousineService",
    "parameters": [
     {
      "name": "keyNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/main-desk/car-arrival-log/read": {
   "put": {
    "tags": [
     "綜合櫃檯"
    ],
    "summary": "批次標記住客行車抵達記錄為已讀",
    "operationId": "markCarArrivalLogsAsRead",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "type": "integer",
         "format": "int32"
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/main-desk/amenity/usable-detail/{keyNos}": {
   "put": {
    "tags": [
     "綜合櫃檯"
    ],
    "summary": "修改單筆備品使用明細",
    "description": "修改備品使用明細（含自動入帳重算）",
    "operationId": "updateUsableDetail",
    "parameters": [
     {
      "name": "keyNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UsableDetailUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/AmenityDetailResponse"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "綜合櫃檯"
    ],
    "summary": "刪除單筆備品使用明細",
    "description": "刪除備品使用明細（含自動入帳刪除）",
    "operationId": "deleteUsableDetail",
    "parameters": [
     {
      "name": "keyNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/limousine-service/{keyNos}": {
   "put": {
    "tags": [
     "接送服務"
    ],
    "summary": "修改-單筆",
    "operationId": "updateLimousineService_1",
    "parameters": [
     {
      "name": "keyNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateLimousineServiceFromLimousineRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   },
   "delete": {
    "tags": [
     "接送服務"
    ],
    "summary": "刪除-單筆",
    "operationId": "deleteLimousineService_1",
    "parameters": [
     {
      "name": "keyNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/limousine-models/{carType}/lock/{lockToken}": {
   "put": {
    "tags": [
     "交通接駁車種(PMS0810250)"
    ],
    "summary": "修改車種類別",
    "operationId": "updateCarType",
    "parameters": [
     {
      "name": "carType",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CarTypeRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/CarTypeResponse"
        }
       }
      }
     }
    }
   }
  },
  "/housekeeping-posting-transaction-code/{productNos}/lock/{lockToken}": {
   "put": {
    "tags": [
     "消費代號設定"
    ],
    "summary": "修改消費代號",
    "operationId": "updateHkProductRf",
    "parameters": [
     {
      "name": "productNos",
      "in": "path",
      "required": true,
      "schema": {
       "maxLength": 10,
       "minLength": 0,
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/HkProductRfRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/HkProductRfResponse"
        }
       }
      }
     }
    }
   }
  },
  "/housekeeping-posting-small-category/{smallType}/lock/{lockToken}": {
   "put": {
    "tags": [
     "房務入帳小分類設定"
    ],
    "summary": "修改小分類",
    "operationId": "updateHkStypeRf",
    "parameters": [
     {
      "name": "smallType",
      "in": "path",
      "required": true,
      "schema": {
       "maxLength": 4,
       "minLength": 0,
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/HkStypeRfRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/HkStypeRfResponse"
        }
       }
      }
     }
    }
   }
  },
  "/foreign-exchange/void": {
   "put": {
    "tags": [
     "外幣匯兌維護(PMS0310050)"
    ],
    "summary": "作廢外幣水單",
    "operationId": "voidForeignExchange",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/VoidForeignExchangeRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/foreign-exchange/update-note-number": {
   "put": {
    "tags": [
     "外幣匯兌維護(PMS0310050)"
    ],
    "summary": "修改支票號碼",
    "operationId": "updateNoteNumber",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateNoteNumberRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/UpdateNoteNumberResponse"
        }
       }
      }
     }
    }
   }
  },
  "/downtime/{id}": {
   "get": {
    "tags": [
     "DownTimeReport設定"
    ],
    "operationId": "getDownTimeReportList",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/DownTimeDetailResponseVo"
        }
       }
      }
     }
    },
    "deprecated": true
   },
   "put": {
    "tags": [
     "DownTimeReport設定"
    ],
    "operationId": "updateDownTimeReport",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/DownTimeSaveRequestVo"
       }
      }
     },
     "required": true
    },
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "deprecated": true
   },
   "delete": {
    "tags": [
     "DownTimeReport設定"
    ],
    "operationId": "deleteDownTimeReport",
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string",
       "format": "uuid"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "OK"
     }
    },
    "deprecated": true
   }
  },
  "/deposit-types/{type1Code}/lock/{lockToken}": {
   "put": {
    "tags": [
     "訂金大類設定"
    ],
    "summary": "修改訂金大類",
    "description": "更新既有訂金大類的資料",
    "operationId": "updateDepositType",
    "parameters": [
     {
      "name": "type1Code",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/DepositTypeRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/DepositTypeResponse"
        }
       }
      }
     }
    }
   }
  },
  "/contract-status/{statusCode}/lock/{lockToken}": {
   "put": {
    "tags": [
     "合約狀態(PMS0860070)"
    ],
    "summary": "修改合約狀態",
    "operationId": "updateContractStatus",
    "parameters": [
     {
      "name": "statusCode",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ContractStatusRfRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ContractStatusRfResponse"
        }
       }
      }
     }
    }
   }
  },
  "/cashier/{cashierCode}/Lock/{lockToken}": {
   "put": {
    "tags": [
     "出納員設定"
    ],
    "summary": "修改出納員",
    "operationId": "updateCashier",
    "parameters": [
     {
      "name": "cashierCode",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CashierRfInsertAndUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   },
   "delete": {
    "tags": [
     "出納員設定"
    ],
    "summary": "刪除出納員",
    "operationId": "deleteCashier",
    "parameters": [
     {
      "name": "cashierCode",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/{lockToken}": {
   "put": {
    "tags": [
     "Booking"
    ],
    "summary": "訂房卡最後(整包)的修改儲存",
    "operationId": "updateReservation",
    "parameters": [
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/OrderCardUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/wrs/float-price": {
   "put": {
    "tags": [
     "WRS Booking"
    ],
    "summary": "網訂下傳：浮動房價儲存",
    "operationId": "floatPrice",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/WrsFloatPriceRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/wrs/deposit": {
   "put": {
    "tags": [
     "WRS Booking"
    ],
    "summary": "網訂下傳：指定訂金",
    "operationId": "assignDeposit",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/WrsAssignDepositRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/tmp": {
   "put": {
    "tags": [
     "Booking"
    ],
    "summary": "訂房卡-彙總/明細：進入編輯模式時，備份暫存房價資料",
    "description": "將原本的tmp_order_appraise 跟 tmp_service_tr 存起來，已便取消編輯用",
    "operationId": "backUpTmpPriceData",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/BackUpTmpPriceRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/reservation/{ikey}/{crsSeqNos}": {
   "put": {
    "tags": [
     "Booking"
    ],
    "summary": "訂位功能 - 修改訂位單筆",
    "operationId": "updateReservation_1",
    "parameters": [
     {
      "name": "ikey",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "crsSeqNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ReservationUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ReservationUpdateResponse"
        }
       }
      }
     }
    }
   }
  },
  "/booking/reduce-order-quantity": {
   "put": {
    "tags": [
     "Booking"
    ],
    "summary": "訂房卡編輯-彙總-減少間數刪除暫存預估款",
    "description": "若減少間數，將多餘的TMP_ORDER_APPRAISE/TMP_SERVICE_TR 刪除，剩餘間數對應的訂房明細則重新計算房價",
    "operationId": "reduceAndRecalculateTemporaryOrderQuantity",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ReduceOrderQuantityRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/person": {
   "put": {
    "tags": [
     "Booking"
    ],
    "summary": "訂房卡編輯-明細-修改人數",
    "description": "修改大人/小孩人數時，重算人數與總金額(單價不變)",
    "operationId": "calculateTemporaryPerson",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CalculatePersonRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/order-remark/{ikey}": {
   "put": {
    "tags": [
     "Booking"
    ],
    "summary": "訂房卡-訂房備註儲存",
    "description": "非正常狀態之訂房卡(NO_SHOW)修改備住儲存(因客服要求雖然訂房卡不是正常的情況下，但備註還是要能被修改)",
    "operationId": "updateOrderRemark",
    "parameters": [
     {
      "name": "ikey",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/OrderRemarkSaveRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/order-detail/{lockToken}": {
   "put": {
    "tags": [
     "Booking"
    ],
    "summary": "訂房明細儲存-打開訂房明細後，修改完時對全部的暫存異動進行儲存(包含錢、或新增住客)",
    "operationId": "saveDetail",
    "parameters": [
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/DetailSaveRequest"
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/order-detail/limousine-service/{keyNos}": {
   "put": {
    "tags": [
     "Booking"
    ],
    "summary": "接送：單筆修改",
    "operationId": "updateLimousineService_2",
    "parameters": [
     {
      "name": "keyNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UpdateLimousineServiceFromBookingRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   },
   "delete": {
    "tags": [
     "Booking"
    ],
    "summary": "接送：單筆刪除",
    "operationId": "deleteLimousineService_2",
    "parameters": [
     {
      "name": "keyNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/link-nos/{ikey}/{lockToken}": {
   "put": {
    "tags": [
     "Booking"
    ],
    "summary": "更多欄位-儲存關聯單號",
    "operationId": "modifyLinkNos",
    "parameters": [
     {
      "name": "ikey",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "type": "string"
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/float-price": {
   "put": {
    "tags": [
     "Booking"
    ],
    "summary": "訂房卡-浮動房價儲存",
    "operationId": "floatPrice_1",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/FloatPriceRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/edit-cancel": {
   "put": {
    "tags": [
     "Booking"
    ],
    "summary": "訂房卡-彙總/明細：取消編輯模式時，將備份的eric暫存房價資料還原",
    "description": "回復成編輯前資料",
    "operationId": "cancelEditMode",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/CancelEditModeRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/deposit/{lockToken}": {
   "put": {
    "tags": [
     "Booking"
    ],
    "summary": "訂房卡-指定訂金 API 指定訂金畫面在選完訂金後， 按下儲存會呼叫此API，將訂金與訂房卡進行綁訂",
    "operationId": "assignDeposit_1",
    "parameters": [
     {
      "name": "lockToken",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/AssignDepositRequsetVo"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/booking/amenity/usable-detail/{keyNos}": {
   "put": {
    "tags": [
     "Booking"
    ],
    "summary": "修改單筆備品使用明細",
    "description": "修改備品使用明細（含自動入帳重算）",
    "operationId": "updateUsableDetail_1",
    "parameters": [
     {
      "name": "keyNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/UsableDetailUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/AmenityDetailResponse"
        }
       }
      }
     }
    }
   },
   "delete": {
    "tags": [
     "Booking"
    ],
    "summary": "刪除單筆備品使用明細",
    "description": "刪除備品使用明細（含自動入帳刪除）",
    "operationId": "deleteUsableDetail_1",
    "parameters": [
     {
      "name": "keyNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/amenities-setting/{itemCode}": {
   "get": {
    "tags": [
     "櫃台備品設定"
    ],
    "summary": "單筆查詢",
    "operationId": "getAmenity",
    "parameters": [
     {
      "name": "itemCode",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/AmenityQueryResponse"
        }
       }
      }
     }
    }
   },
   "put": {
    "tags": [
     "櫃台備品設定"
    ],
    "summary": "修改單筆主檔",
    "operationId": "updateAmenity",
    "parameters": [
     {
      "name": "itemCode",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/HfdUseRfUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   },
   "post": {
    "tags": [
     "櫃台備品設定"
    ],
    "summary": "新增單筆主檔",
    "operationId": "insertAmenity",
    "parameters": [
     {
      "name": "itemCode",
      "in": "path",
      "required": true,
      "schema": {
       "maxLength": 4,
       "minLength": 0,
       "type": "string"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/HfdUseRfInsertRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   },
   "delete": {
    "tags": [
     "櫃台備品設定"
    ],
    "summary": "刪除單筆主檔",
    "operationId": "deleteAmenity",
    "parameters": [
     {
      "name": "itemCode",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/amenities-setting/{itemCode}/{keyNos}": {
   "put": {
    "tags": [
     "櫃台備品設定"
    ],
    "summary": "修改單筆明細",
    "operationId": "updateAmenityDetail",
    "parameters": [
     {
      "name": "itemCode",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "keyNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/HfdUseDtUpdateRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   },
   "delete": {
    "tags": [
     "櫃台備品設定"
    ],
    "summary": "刪除單筆明細",
    "operationId": "deleteAmenityDetail",
    "parameters": [
     {
      "name": "itemCode",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "keyNos",
      "in": "path",
      "required": true,
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/amenities-setting/sequence": {
   "get": {
    "tags": [
     "櫃台備品設定"
    ],
    "summary": "查詢櫃台備品排序",
    "operationId": "getAmenitiesSort",
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/HfdUseRfSortRecord"
         }
        }
       }
      }
     }
    }
   },
   "put": {
    "tags": [
     "櫃台備品設定"
    ],
    "summary": "櫃台備品排序",
    "operationId": "updateAmenitiesSort",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/HfdUseRfSortRequest"
        }
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功"
     }
    }
   }
  },
  "/visit-types": {
   "get": {
    "tags": [
     "拜訪方式(PMS0860050)"
    ],
    "summary": "查詢所有拜訪方式",
    "operationId": "listVisitTypes",
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "type": "array",
         "items": {
          "$ref": "#/components/schemas/PsVisitRfResponse"
         }
        }
       }
      }
     }
    }
   },
   "post": {
    "tags": [
     "拜訪方式(PMS0860050)"
    ],
    "summary": "新增拜訪方式",
    "operationId": "createVisitType",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/PsVisitRfRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/PsVisitRfResponse"
        }
       }
      }
     }
    }
   }
  },
  "/visit-types/lock": {
   "post": {
    "tags": [
     "拜訪方式(PMS0860050)"
    ],
    "summary": "Lock拜訪方式設定",
    "operationId": "lockVisitTypes",
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
      "description": "成功",
      "content": {
       "*/*": {
        "schema": {
         "type": "string"
        }
       }
      }
     }
    }
   }
  },
  "/trace": {
   "post": {
    "tags": [
     "交辦事項(PMS0210070)"
    ],
    "operationId": "insertHfdTodoList",
    "requestBody": {
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/InsertHfdTodoListRequest"
       }
      }
     },
     "required": true
    },
    "responses": {
     "400": {
      "description": "失敗, 前端 Request 不合法",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "417": {
      "description": "失敗, 資料驗證錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiDataValidErrorResponse"
        }
       }
      }
     },
     "500": {
      "description": "失敗, 伺服器端發生未知或無法處理的錯誤",
      "content": {
       "*/*": {
        "schema": {
         "$ref": "#/components/schemas/ApiResponse"
        }
       }
      }
     },
     "200": {
[...]
